.footer-nav nav{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    
}

.footer-nav nav a:hover {
  color: maroon;          
}
.logo-footer{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 1.5rem;
    margin-top: -5%;
    width: 10%;
    color: black;
}
.logo-footer a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}
.address{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-top: -1rem;
    color: black;
    padding-left: 1.5rem;
}
.Feedback {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  margin-top: -4rem; 
  
}
.Feedback p{
    font-size: 1.5rem;
    color: black;
    margin-top: -2.5rem;
    margin-right: -12rem;
}
.copyright{
    text-align: center;
    font-size: 1rem;
    color: black;
    padding: 1rem;
}
.social{
    margin: 1.5rem;
}
.social img{
    width: 2.5%;
    height: 100%;
    
}